<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pursuit.blastoff">
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_rocket"
        android:label="BLASTOFF"
        android:roundIcon="@mipmap/ic_rocket_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity
            android:name=".ui.activities.HostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>